@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background-color-rgb: 242 245 248;
        --error-color-rgb: 235 25 10;
        --info-color-rgb: 35 116 171;
        --primary-color-rgb: 49 128 135;
        --secondary-color-rgb: 175 233 226;
        --success-color-rgb: 16 168 56;
        --text-color-rgb: 16 14 27;
        --warning-color-rgb: 235 119 30;
        --black-color-rgb: 16 14 27;
        --white-color-rgb: 242 245 248;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color-rgb: 16 14 27;
        --text-color-rgb: 242 245 248;
    }
}

body {
    background-color: rgb(var(--background-color-rgb));
    color: rgb(var(--text-color-rgb));
}

.has-tooltip {
    position: relative;
}

.tooltip {
    @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
    @apply z-50 visible;
}
